<div class="container">
  <div class="row">
    <div class="col">
      <h2>Person List</h2>
      <div class="table-responsive">
        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">City</th>
              <th scope="col">Province</th>
              <th scope="col">Phone</th>
              <th scope="col"  *ngIf="isAdmin">Update</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of persons">
              <td>{{ person.id }}</td>
              <td>{{ person.firstName }} {{ person.lastName }}</td>
              <td>{{ person.address }}</td>
              <td>{{ person.city }}</td>
              <td>{{ person.province }}</td>
              <td>{{ person.phone }}</td>
              <button *ngIf="isAdmin">Update</button>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  

  </div>


